footer{
  background-color: $base-color-light;

  .fa {
    color: $base-color-dark-lighter;
  }
  .skapad {   
    opacity: 0.1;
    text-shadow: 1px 1px white, -1px -1px #444;
    a{
    color: $base-color-dark-lighter;
    }
  }
}
