$base-color-light: #fbf7f4;
$base-color-dark: #2b3b34;
$base-color-dark-lighter: #40594e;

$font-color-light: #fff;
$font-color-dark: #36454F;
$font-size: 26px;
$font-size-small: 16px;

$font-family-body: 'Roboto', sans-serif;
$font-family-hero-title: 'Exo', sans-serif; 
